$transparent-green : rgba(72, 91, 53, 0.5);


body {
  min-height: 2000px;
  padding-top: 70px;
  background-image: url('../img/forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
