$transparent-green : rgba(72, 91, 53, 0.5);
$header-inner : #B8E986;
$header-shadow: #9BB65D;
$black : #000;
$white: #fff;


body {
  min-height: 2000px;
  padding-top: 70px;
  background-image: url('../img/forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50px;
    padding-bottom: 10px;
  }
}

#main {
  color: white;
  margin: 0 auto;
  .row {
    margin: 0 auto;
    .col-md-4 {
      border: 3px solid $header-shadow;
      text-align: center;
      padding: 10px;
      margin: 20px;
      position: relative;
      left: 150px;
      background: rgba(17,69,17, 0.2);
      img {
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 100px;
        height: 100px;
      }
    }
  }
  h3 {
    font-family: monospace;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background: rgba(17,69,17, 0.6);
    border: 3px solid $header-shadow;
    @media screen and (max-width: 425px) {
      font-size: 14pt;
      padding: 5px;
    }
  }
  h4 {
    @media screen and (max-width: 425px) {
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
    }
    @media screen and (min-width: 1024px) {
      text-align: center;
    }
  }
  h4 a {
    color: $header-inner;
    &:hover {
      color: white;
    }
  }
}

.row {
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 50%;
    text-align: center;
    margin: 0 auto;
  }
  @media screen and (min-width: 1024px) {
    height: 50%;
    width: 100%;
  }
  .thumbnail {
    background: $transparent-green;
    border: 3px solid $header-inner;
  }
  .caption {
    text-align: center;

    h3 {
      font-family: 'Shadows Into Light', cursive;
      color: $header-inner;
      font-size: 26pt;
    }
    p {
      margin-bottom: 20px;
      color: white;
    }
  }
}
